.git/**
.github/**
.changeset/**
node_modules/**
build/**
.vscode/**
examples/**
templates/**
./project.zip
*.zip
*.vsix
.DS_Store

.gitignore
.vsixmanifest

templates
src/**
scripts/**

!README.md
!CHANGELOG.md
*.md


